main svg{
    margin-top:20px;
}

.node text {
  font: 10px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

/*.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}*/

#accordion {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.panel-default > .panel-heading{
    background: #f8f8f8;;
    border-color:#e7e7e7;
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group{
    margin-bottom:0;
}

.panel-title a {
    color: #777777;
    text-align: center;
    width: 100%;
    display: block;
    padding: 0px 10px;
    font-size: 24px;
    font-family: Helvetica,Arial,sans-serif;
    outline: none;
}

.panel-title a:hover, .panel-title a:focus, .panel-title a:active {
    text-decoration: none;
    outline: none;
}

.hidden{
    display:none;
}


/* tooltip */
div#tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  left: 130px;
  padding: 1em;
  position: absolute;
  top: 95px;
  min-width: 60px;
  max-width: 200px;
  z-index: 10;
}


div#tooltip h3{
    text-align: center;
    font-size: 1.1em;
}

.panel-body{
    background-color:white;
}

.panel-title{
    margin-bottom:0px;
}

.filled{
    color: #4e79a7;
    background-color:#4e79a7;
    width:5px;
}

.empty{
    color: white;
    background-color:white;
    width:5px;
}
